﻿@page "/categoy"
@inject ICategoryService _categoryService
@inject NavigationManager _navigateService

<ul class="list-group">
    @foreach (var item in categories)
    {
        <li class="list-group-item" role="button" @onclick="()=>gotoProductByCategory(item.CategoryId)">@item.CategoryName</li>
    }
</ul>

@code {

    private List<Entities.Concrete.Category> categories;

    protected override void OnInitialized()
    {
        categories = _categoryService.GetList().Data;
    }

    private void gotoProductByCategory(int categoryId) => _navigateService.NavigateTo("/product/" +categoryId);

}
