﻿@page "/"

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome @context.User.Identity.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You are sign out !</p>
    </NotAuthorized>
</AuthorizeView>