﻿@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebSPA.Areas.Auths.Pages.LoginModel

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <ul class="text-danger mb-3" id="error"></ul>
                    <form method="post">
                        <div class="form-floating mb-3">
                            <input type="email" name="Email" class="form-control" id="Email" placeholder="name@example.com">
                            <label for="Email">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="Password" class="form-control" id="Password" placeholder="Password">
                            <label for="Password">Password</label>
                        </div>
                        <button type="submit" class="btn btn-dark">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>