﻿@model WebUI.Models.ProductAddModel

@{
    ViewData["Title"] = "Ürün Ekle";
}

<div class="card p-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.ProductName" class="control-label"></label>
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.CategoryId" class="control-label"></label>

                    <select asp-for="Product.CategoryId" class="form-control">
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    </select>

                </div>
                <div class="form-group">
                    <label asp-for="Product.QuantityPerUnit" class="control-label"></label>
                    <input asp-for="Product.QuantityPerUnit" class="form-control" />
                    <span asp-validation-for="Product.QuantityPerUnit"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.UnitPrice" class="control-label"></label>
                    <input asp-for="Product.UnitPrice" class="form-control" />
                    <span asp-validation-for="Product.UnitPrice"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.UnitsInStock" class="control-label"></label>
                    <input asp-for="Product.UnitsInStock" class="form-control" />
                    <span asp-validation-for="Product.UnitsInStock"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


