﻿@model IEnumerable<Entities.Concrete.Product>

@{
    ViewData["Title"] = "Ürün Listesi";
}

@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered bg-light" id="productList">
                <thead class="table-dark">
                    <tr>
                        <th>
                            Ürün Id
                        </th>
                        <th>
                            Ürün Adı
                        </th>
                        <th>
                            Kategori Id
                        </th>
                        <th>
                            Açıklama
                        </th>
                        <th>
                            Birim Fiyat
                        </th>
                        <th>
                            Stok
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                            </td>
                            <td>
                                @item.UnitPrice.ToString("n") ₺
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitsInStock)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div> 
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#productList').DataTable();
        });
    </script>
}
