﻿@page "/product-detail/{id:int}"
@inject IProductService _productService

<div class="card">
    <div class="card-header">
        Ürün Detay
    </div>
    <div class="card-body">
        <h5 class="card-title">@product.ProductName</h5>
        <p class="card-text">@product.QuantityPerUnit</p>
        <a href="#" class="btn btn-primary">@product.UnitPrice.ToString("n") ₺</a>
    </div>
</div>


@code {

    [Parameter]
    public int id { get; set; }

    private Entities.Concrete.Product product;

    protected override void OnInitialized()
    {
        product = _productService.GetById(id).Data;
    }

}
