﻿@page "/product"
@page "/product/{categoryid:int}"

@inject IProductService _productService
@inject NavigationManager _navigateService

<div class="row">
    <div class="col-md-3">
        <Category />
    </div>
    <div class="col-md-9 mt-md-0 mt-sm-5">
        @if (products == null)
        {
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Ürün Id</th>
                            <th>Ürün Adı</th>
                            <th>Birim Fiyat</th>
                            <th>Stok</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in products)
                        {
                            <tr @onclick="() => GotoProductDetail(item.ProductId)" role="button">
                                <td>@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td>@item.UnitPrice.ToString("n")</td>
                                <td>@item.UnitsInStock</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
    </div>
</div>

@code {

    [Parameter]
    public int? categoryid { get; set; }

    private List<Entities.Concrete.Product> products;
 
    protected override void OnParametersSet()
    {
        if (categoryid != null)
        {
            products = _productService.GetListByCategory(categoryid.Value).Data;
        }
        else
        {
            products = _productService.GetList().Data;
        }
    }

    private void GotoProductDetail(int id) => _navigateService.NavigateTo("/product-detail/" + id);

}
